.dateContainer {
    display: flex;
    align-items: center;
}

.date {
    font-size: 0.8rem;
    color: #C1C1C1;
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}