.tag {
    background-color: #B8DEE0;
    border-radius: 5px;
    color: black;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    margin: 0.25rem 0.5rem 0.25rem 0rem;
    font-size: 0.8rem;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.05);
    transition: all 0.1s ease-in-out;
}

.tag:hover {
    background-color: #D4EBEC;
}