.tag {
    background-color: #B8DEE0;
    border-radius: 5px;
    color: black;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 600;
    margin-right: 0.5rem;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.05);
    transition: all 0.1s ease-in-out;
}

.tag:hover {
    background-color: #C4BECB;
    color: black;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3);
}