.tag {
    background-color: #e3e3e3;
    border-radius: 5px;
    color: #4a4a4a;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 600;
    margin-right: 0.5rem;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}