.card {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
}

.title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.date {
    font-size: 0.8rem;
    color: #999;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.linkWithoutStyle {
    text-decoration: inherit;
    color: inherit;
}

@media (max-width: 500px) {
    .card {
        margin: 0px 1rem;
    }
}