.card {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #292E3D;
    border: 1px solid #636363;
    transition: box-shadow 0.2s ease-in-out;
    margin-bottom: 1rem;
}

.card:hover {
    box-shadow: 0 0 0.5rem rgb(211, 211, 211);
}

@media (max-width: 550px) {
    .card {
        width: 80%;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}