.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.articleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  max-width: 900px;
  margin: 0px;
}

@media (max-width: 550px) {
  .articleContainer {
    width: 100%;
  }
}