.navBackground {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.5rem;
    background-color: #111318;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    border-bottom: 1px solid #636363;
}

.navContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 900px;
    padding: 0px 1rem;
}

.leftContent {
    display: flex;
    align-items: center;
}

.rightContent {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navLinks {
    padding: 0 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    transition: background-color 0.1s ease-in-out;
    border-radius: 0px;
    color: black;
}

.navLinks:hover {
    background-color: #222630;
}

.simpleIcon {
    font-size: 1.5rem;
    padding-right: 5px;
    color: #FFFBFE;
    padding-right: 0px;
}