figure[data-rehype-pretty-code-figure] {
  margin: 5px 0px;
  border-radius: 8px;
  background-color: #272727;
}

figure[data-rehype-pretty-code-figure] > pre {
  padding: 15px 0;
}

span[data-rehype-pretty-code-figure] {
  display: inline-flex;
  text-align: center;
}

/* plaintext inline code */
span[data-rehype-pretty-code-figure]:not(
    :has(> code[data-language='plaintext'])
  ) {
  border-radius: 4px;
  background-color: #020817;
}

span[data-rehype-pretty-code-figure] > code {
  padding: 0 4px;
}

/* plaintext inline code */
span[data-rehype-pretty-code-figure] > code[data-language='plaintext'] {
  color: hsl(var(--card-foreground));
  padding: 0;
}

code {
  font-family: 'Sans Mono', 'Consolas', 'Courier', monospace;
  counter-reset: line;
}

pre > code {
  display: grid;
}

pre > code > [data-line] {
  padding-right: 10px;
}

pre > code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 1rem;
  margin-right: 1.5rem;
  margin-left: 1rem;
  text-align: right;
  color: gray;
}

pre > code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 2rem;
}

pre > code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 3rem;
}

figcaption[data-rehype-pretty-code-title] {
  color: rgb(196, 196, 196);
  width: 100%;
  padding: 7px;
  padding-left: 15px;
  display: flex;
  font-size: inherit;
}

mark[data-highlighted-chars] {
  background-color: #353535;
}

span[data-highlighted-line] {
  background-color: #272727;
  border-left: 2px solid #60a5fa;
}

pre > code > span {
  border-left: 2px solid #00000000;
}
